* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    text-align: center;

}


header                {
    margin: 24px auto;
    width: 100%;
}

header h1             {
    color: #387cd4;
    font: bold 2.5em Tahoma,Helvetica,sans-serif;
    font-style: italic;
    text-decoration: underline;
    
}

form  {
    margin:auto;
    width:250px;
    padding:20px;
    /* Agregando propiedades CSS3 */
    border-radius:12px;
    -ms-border-radius:12px;
    -moz-border-radius:12px;
    -webkit-border-radius:12px;
    -khtml-border-radius:12px;
    behavior:url(../rounded/border-radius.htc);
    
   /*  background:silver url("rounded.svg"); */
    
}

input                  {
    width: 50px;
    background: #ffffff;
    padding: 6px;
    margin-bottom: 5px;
    border-top: 1px solid #387cd4;
    border-left: 1px solid #387cd4;
    border-right: 1px solid #387cd4;
    border-bottom: 1px solid #387cd4;
    border-radius:5px;

    /* Agregando propiedades CSS3 
    -webkit-transition-property: -webkit-box-shadow, background;
    -webkit-transition-duration: 0.25s;
    -moz-box-shadow: 0px 0px 2px #000;
    -webkit-box-shadow: 0px 0px 2px #000;*/
}

input[type=text]       {
    font: bold 1em sans-serif;
    color:#387cd4;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 6px;
    padding-bottom: 6px;

}

input[type=submit]     {
    background: #387cd4;
    color: #ffffff;
    
    text-transform:uppercase;
    font:Bold 1em Linotype,sans-serif;

}

select {
    background-color: #ffffff;
    color: #387cd4;
    font: bold 1em Tahoma,Helvetica,sans-serif;
    border-radius:5px;

    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 5px;
    border-top: 1px solid #387cd4;
    border-left: 1px solid #387cd4;
    border-right: 1px solid #387cd4;
    border-bottom: 1px solid #387cd4;
    
}

#resultados {
    background-color: #ffffff;
    color: #387cd4;
    font: bold 1em Tahoma,Helvetica,sans-serif;
    text-align: center;
}